/* Universal */
* {
    color: red;
}

/* Element */
a {
    background-color: lightblue;
    font-size: 20px;
}
span {
    background-color: blue;
    color: #ffffff;
}

/* Class */
.green-text {
    color: green;
    font-weight: 600;
}

/* ID */
#dpu {
    font-family: Tahoma;
    font-size: 20px;
}